<div id="form-container" >
    <form action="/user" method="post">
        <div class="field-container">
            <label for="name">Name : </label><br />
            <input type="text" id="name" name="name" required />
        </div>
        <div class="field-container">
            <label for="email">Email : </label><br />
            <input type="text" id="email" name="email" required />
        </div>
        <div class="field-container">
            <label for="age">Age : </label><br />
            <input type="text" id="age" name="age" required />
        </div>
        <div class="field-container">
            <label for="city">City : </label><br />
            <input type="text" id="city" name="city" required />
        </div>
        <div class="field-container">
            <label for="profession">Profession : </label><br />
            <input type="text" id="profession" name="profession" required />
        </div>
        <div class="field-container">
            <button type="submit">Submit</button>
        </div>
    </form>
    
</div>